.register-form{
    background-color: #FFCE00;
    border-radius: 15px;
}
.register-form h4{
    font-family: 'NotoSansBold';
    color: #07509E;
    font-size: 30px;
}
.register-form input[type=text],.register-form input[type=email],.register-form input[type=password]{
    outline: 0;
    border: none;
    border-bottom: 2px solid #07509E;
    background-color: transparent;
    font-family: 'NotoSansRegular';
    padding-left: 40px;
}
.register-form input[type=text],.register-form input[type=email],.register-form input[type=password]:focus{
    outline-style: none;
    box-shadow: none;
    background-color: #FFCE00;
    font-family: 'NotoSansRegular';
  }
.register-form .input-with-icon{
    position: relative;
}
.register-form .input-with-icon i{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #07509E;
}
.register-form .form-control{
    color: #07509E;
    font-family: 'NotoSansRegular';
}
.register-form button{
    border: #07509E;
    background-color: #07509E;
    color: #ffffff;
}
.register-form button:hover{
    background-color: #07509E;
    color: #ffffff;
    transform: scale(1.05);
}
.register-form button:active{
    border: #07509E;
    background-color: #07509E;
    color: #ffffff;
}
.register-form .error{
    text-align: right;
    color: #07509E;
    font-size: 12px;
    font-family: 'NotoSansRegular';
}